h1 {
    color:aqua
}

.header {
   background-color: black;
   display: flex;
   justify-content: space-between;
}
.menu {

}
.siteDescription {

}
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
 
.item {
 border: #000000;
}
.footer {
    display: flex;
    justify-content: flex-end;
}
body{
    background-color: #808080;
    font-color: #000000;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
}